<div class="container" style="margin-top: 1vw;">
    <div class="row justify-content-center">
        <div class="col-sm-8 align-self-center text-center">
            <h1>PRICES</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="margin-top: 2vw;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <h4>Gold Subscription: </h4>
                        <p style="margin-top: 0.2vw; margin-left: 0.6vw;">All our products avaible. Even new deliveries.</p>
                    </div>
                    <br>
                    <button type="button" (click)="addGold()" class="btn btn-dark">BUY FOR 20€</button>
                </li>
                <li class="list-group-item" style="margin-top: 2vw;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <h4>Advanced Subscription: </h4>
                        <p style="margin-top: 0.2vw; margin-left: 0.6vw;">The most recommended for family.</p>
                    </div>
                    <br>
                    <button type="button" (click)="addAdvanced()" class="btn btn-dark">BUY FOR 15€</button>
                </li>
                <li class="list-group-item" style="margin-top: 2vw;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <h4>Basic Subscription: </h4>
                        <p style="margin-top: 0.2vw; margin-left: 0.6vw;">For those who want enjoy movies on Sundays.</p>
                    </div>
                    <br>
                    <button type="button" (click)="addBasic()" class="btn btn-dark">BUY FOR 10€</button>
                </li>
            </ul>
        </div>
    </div>
</div>